.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dialogBox {
    position: relative;
    width: 600px;
    height: 400px;
    background: #d1ecf8;
    border-radius: 20px;
    overflow: hidden;
}

.icon {
    font-size: 42px !important;
    color: #0070ff;
    pointer-events: none;
    transform: translateY(10%);
}

.half {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.halfHover {
    background: linear-gradient(to right, #50e6c1, #00cfff);
}

.halfSelected {
    background: linear-gradient(to right, #50e6c1, #00cfff);
}

/* TOP & BOTTOM BAR */
.topBar,
.bottomBar {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1;
}

.topBar {
    top: 0;
    height: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bottomBar {
    bottom: 0;
    height: 32px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.segment {
    transition: background 0.3s ease;
}

.hoverable:hover {
    filter: brightness(1.15);
    cursor: pointer;
}

/* Top segments (5 total) */
.segment1 {
    width: 11%;
    background: #51e6fa;
}
.segment2 {
    width: 15%;
    background: #aaf2ff;
}
.segment3 {
    width: 20%;
    background: #85e4f6;
}
.segment4 {
    width: 25%;
    background: #66c8f4;
}
.segment5 {
    width: 35%;
    background: #4f85f5;
}
.segment6 {
    width: 12%;
    background: #51e6fa;
}

.bottomLeftSegment {
    width: 10%;
    background: #51e6fa;
}
.bottomMiddleSegment {
    width: 80%;
    background: linear-gradient(to right, #4C67EF, #60EAFF);
}
.bottomRightSegment {
    width: 10%;
    background: #B8FBFB;
}

/* DROPDOWN PANELS */
.dropdownPanelTop {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #b6dfff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 20px rgba(213, 215, 255, 0.5);
}

.dropdownPanelBottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #b6dfff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 20px rgba(213, 215, 255, 0.5);
}

.dropdownTop1 {
    width: 110px;
    height: 130px;
}
.dropdownTop2 {
    width: 130px;
    height: 160px;
}
.dropdownTop3 {
    width: 150px;
    height: 180px;
}
.dropdownTop4 {
    width: 160px;
    height: 120px;
}
.dropdownTop6 {
    width: 110px;
    height: 130px;
}
.dropdownBottom {
    width: 110px;
    height: 100px;
}
